--acronyms ID,URL,UUID
--allman false
--anonymousforeach convert
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping none
--callsiteparen default
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas always
--complexattrs preserve
--computedvarattrs preserve
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping 3,4
--doccomments before-declarations
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 0
--equatablemacro none
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes prev-line
--generictypes 
--groupblanklines true
--groupedextension "MARK: %t + %c"
--guardelse auto
--header strip
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent 4
--indentcase false
--indentstrings false
--inferredtypes always
--initcodernil false
--inlinedforeach ignore
--languagemode 0
--lifecycle 
--lineaftermarks false
--linebreaks lf
--markcategories false
--markextensions always
--marktypes always
--maxwidth 120
--modifierorder 
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping none
--operatorfunc spaced
--organizationmode type
--organizetypes actor,class,enum,struct
--patternlet hoist
--preserveacronyms 
--preservedecls 
--preservedsymbols Package
--propertytypes inferred
--ranges spaced
--self remove
--selfrequired 
--semicolons never
--shortoptionals always
--smarttabs enabled
--someany true
--sortedpatterns 
--sortswiftuiprops first-appearance-sort
--storedvarattrs preserve
--stripunusedargs always
--structthreshold 0
--swiftversion 5.10
--tabwidth unspecified
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes prev-line
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--typemarks 
--typeorder 
--varattributes same-line
--visibilitymarks 
--visibilityorder 
--voidtype void
--wraparguments after-first
--wrapcollections before-first
--wrapconditions after-first
--wrapeffects preserve
--wrapenumcases always
--wrapparameters after-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--xctestsymbols 
--yodaswap always
--disable fileMacro,redundantSelf,spaceAroundParens,unusedArguments,wrapMultilineStatementBraces
--enable blankLineAfterSwitchCase,blankLinesBetweenImports,blockComments,markTypes,organizeDeclarations,preferSwiftTesting,privateStateVariables,sortSwitchCases,wrapConditionalBodies,wrapEnumCases,wrapMultilineConditionalAssignment,wrapMultilineFunctionChains,wrapSwitchCases
